/* Universal Styles */

html {
    font-size: 16px;
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
}

.media-container {
    overflow: hidden;
}
.media-container img,
.media-container video {
  display: block;
  width: 100%;
}

/* Header */
header {
    padding: 1rem 1.5rem;
    background-color: white;
}

header .desktop {
    display: flex;
    align-items: center;
}

header .logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: .5rem;
    height: 2rem;
}

header span {
    font-size: 1.5rem;
}

header #colmar {
    font-weight: bold;
}

header #academy {
    color: darkgray;
}


header li {
    display: inline;
    padding-right: 1rem;
}

header li:last-child {
    padding-right: 0;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 550px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        justify-content: center;
    }

    .logo span {
        display: none;
    }

    nav {
        display: none;
    }
}

/* Banner */

.banner-content {
    display: flex;
    padding: 0 1.5rem;
}

#banner .content{
    width: 60%;
    padding: 2rem 1.5rem 2rem 0;
}

#banner .subcontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    justify-content: center;
    padding: 2rem 0;
}

#banner h3 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

#banner p {
padding-bottom: 1.5rem;
}

#banner a {
padding: .5rem 0;
background-color: #202020;
text-align: center;
color: white;
}

@media only screen and (max-width: 770px) {
    #banner {
        flex-direction: column;
        padding: 0;
    }

    #banner .content {
        width: auto;
        padding: 0;
    }

    #banner .subcontent {
        width: auto;
        padding: 2rem 1rem;
    }
}

/* Information */

.info-section {
    display: flex;
    padding: 0 1.5rem;
    background-color: white;
}

.info-section .content {
    width: 60%;
    padding: 2rem 1.5rem 2rem 0;
    border-right: solid 1px darkgray;
}

.info-section .content h3 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

.info-section .subcontent {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 0;
    justify-content: space-between;
}

.info-section .subcontent .navbox {
    display: flex;
    padding: 1rem 0 1rem 1rem;
}

.info-section .subcontent .navbox:first-child {
    padding-top: 0;
}

.info-section .subcontent .navbox:last-child {
    padding-bottom: 0;
}

.info-section .subcontent .navbox .media-container {
    width: 35%;
}

.info-section .subcontent .navbox .textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 1rem;
}

.info-section .subcontent .navbox .textbox h4 {
    font-size: 1.5rem;
}

.info-section .subcontent .navbox .media-container .mobile {
    display: none;
}

@media only screen and (max-width: 895px) {
    .info-section {
        padding: 0 1rem;
    }

    .info-section .content {
        display: none;
    }

    .info-section .subcontent {
        width: 100%;
    }

    .info-section .subcontent .navbox {
        flex-direction: column;
    }

    .info-section .subcontent .navbox .media-container .desktop {
        display: none;
    }

    .info-section .subcontent .navbox .media-container .mobile {
        display: block;
    }

    .info-section .subcontent .navbox {
        padding-left: 0;
    }

    .info-section .subcontent .navbox .media-container {
        width: 100%;
    }

    .info-section .subcontent .navbox .textbox {
        padding: 1rem;
    }
}

/* Course */

/* Thesis */

/* Footer */
footer {
    display: flex;
    padding: 1rem 1.5rem;
    font-size: 0.75rem;
    color: #202020;
    background-color: white;
}

footer .copyright {
    flex-grow: 1;
}

footer a {
    margin-right: .75rem;
}